body {
    background: #ffffff;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    background: #f6f6f6;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.12);
}

h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

.tab-bar {
    position: relative;
    display: flex;
    border-radius: 30px;
    background: #ddd;
    padding: 5px;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    z-index: 2;
}

.tab.active {
    color: #fff;
}

.tab-slider {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50%;
    height: calc(100% - 10px);
    background: #000;
    border-radius: 30px;
    transition: transform 0.35s ease;
    z-index: 1;
}


#totalBox {
    width: 100%;
    height: auto;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 14px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    background: #fff;
}


.section-content {
    display: none;
}

.section-content.active {
    display: block;
}

.input-row {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
}

.input-box {
    flex: 1;
    background: #fff;
    border-radius: 25px;
    border: 1.5px solid #000;
    padding: 10px 14px;
}

.input-box input {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 14px;
}

.btn {
    padding: 12px 18px;
    border-radius: 25px;
    font-weight: 600;
    border: 1.6px solid #000;
    background: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.calculate-btn {
    width: 100%;
    background: #000;
    color: #fff;
}
.error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    padding-left: 5px;
}
